.App {
  padding-top: 5%;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  z-index: -1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input{
  margin-top: 30px;
  z-index: 99999;
}

button {
  height: 20px;
  width: 50px;
  padding-top: 10px;
  text-align: center;
  padding: 0px;
}

.header {
  width: 100%;
  height: 200px;
  position: relative;
  background-color: aquamarine;
  text-align: center;

}

.title {
  position: relative;
  text-align: center;
  margin: auto;
  padding: 70px 0;
}

h1{
  text-align: center;
}